<%= render 'shared/errors', object: @offer %>

<%= form_with model: @offer do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :client %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :client, placeholder: 'Client', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :body, placeholder: 'Put you text here', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :amount %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :amount, placeholder: 'Summ of contract',
        class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :comment %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :comment, placeholder: 'Put your comment',
        class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Submit offer', class: 'btn btn-primary' %>
  <%= link_to 'Back to all offers', offers_path, class: 'btn btn-secondary' %>
 <% end %>
