<% provide :page_title, 'All offers' %>
<% currently_at('Offers') %>

<h1>Offers</h1>

<%= link_to 'New offer', new_offer_path, class: 'mb-3 btn btn-primary btn-lg' %>

<% @offers.each do |offer| %>
  <article class = "card mt-3">
    <div class="card-body">
      <h4><%= "#{offer.client} | #{offer.amount}" %></h4>

      <section class = "card-text">
        <time datetime="<%= offer.formatted_created_at %>">
          <small><%= offer.formatted_created_at %></small>
        </time>

        <p class ="my-2">
          <%= offer.body %>
        </p>
      </section>

      <%= link_to 'Show', offer_path(offer), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_offer_path(offer), class: 'btn btn-secondary' %>
      <%= link_to 'Delete', offer_path(offer), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
