<% provide :page_title, 'Offer' %>

<h1 class = "mb-4">Offer to <%= @offer.client %></h1>

<time datetime="<%= @offer.formatted_created_at %>">
  <%= @offer.formatted_created_at %>
</time>

<p class = "lead my-3">
  <%= @offer.body %>
</p>

<p>
  sum = <%= @offer.amount %>
</p>

<p>
  comment = <%= @offer.comment %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer), class: 'btn btn-primary' %>
<%= link_to 'Delete', offer_path(@offer), class: 'btn btn-danger',
  data: {method: :delete, confirm: 'Are you sure?'} %>

<%= link_to 'Back to all offers', offers_path, class: 'btn btn-secondary' %>
